/* iframe{
    margin-left: 50%;
    position: absolute;
} */
#form2 .container {
  padding-top: 50px !important;
}

#form2::before {
  background-color: #eeeeee !important;
}

th,
tr {
  width: 25%;
}
#resumo {
  margin-left: 0%;
  width: 30%;
  min-width: 20rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 8px rgb(0 0 0 / 10%);
  background-color: #007bff;
  color: #f6f6f6;
  padding: 1rem;
}

#submit {
  background-color: #007bff !important;
}

@media screen and (max-device-width: 480px) {
  iframe {
    visibility: hidden;
  }
  th {
    text-align: center;
  }
}

body {
  background-color: #ededed !important;
}
h1,
h2,
h3,
h4,
h5,
label,
a {
  color: #606060;
}
input,
select {
  border: 1px solid #606060 !important;
}

div.box-areaBoleto {
  padding: 1rem 1.5rem !important;
  box-shadow: 0 0 8px rgba(0, 0, 0, 10%);
}

.flexLabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0;
  margin-left: -0.5rem;
}

.flexLabel .labelInput {
  font-size: 0.9rem;
  white-space: nowrap;
  padding-right: 1rem;
  font-weight: bold;
  color: #606060;
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 1.875rem;
}

.flexLabel hr {
  position: relative;
  top: -0.15rem;
  display: block;
  width: 90%;
  height: 1px;
  background-color: #606060;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #f6f6f6 !important;
}

.row label,
th label {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 400 !important;
  position: relative;
  z-index: 999;
  left: 0.5rem;
  line-height: 6px;
  background-color: #f6f6f6;
}

input.form-control,
select.form-control {
  background-color: #f6f6f6 !important;
  position: relative;
  top: -0.6rem;
  font-weight: normal !important;
}


.pdf_embed{
  width: 45%;
  height: 500px;
  min-width: 300px;
}

.infoPdf{
  flex-basis: 50%; 
  min-width: 300px;
  margin-right: 1rem; 
  margin-bottom: .5rem;
}

.creditCard {
  max-width: 400px;
  margin: 0;
  margin-left: auto;
}

.creditCard .col-sm-12 p {
  font-weight: 600;
  color: #606060;
}

.creditCard .col-sm-12 .bg-light {
  background-color: #f6f6f6 !important;
  height: 100%;
  padding: 1.5rem;
  overflow: hidden;
  border-radius: 1.5rem;
  box-shadow: 0 0 4px rgb(0, 0, 0, 10%);
  position: relative;
}

.creditCard .col-sm-12 .bg-light .card-flag {
  position: absolute;
  right: 10%;
  margin-top: -1rem;
  max-width: 160px;
}

.creditCard .col-sm-12 .bg-light input.mt-1 {
  border: none !important;
  border-bottom: 1px solid #4177d0 !important;
  background-color: #f6f6f6;
  width: 100%;
}

.table thead th{
  border: none;
}


@media (max-width: 500px) {
  .creditCard .col-sm-12 .bg-light .card-flag {
    display: none;
  }

  .creditCard .col-sm-12 .bg-light input.mt-1 {
    width: 100%;
  }

  .creditCard .col-sm-12 .bg-light .smallInput div.row{
    display: flex;
    flex-wrap: nowrap;
  }
}